<aside class="col-md-4">
	<div class="sidebar">
	{{> widget-boycott}}
	{{> widget-ad}}
	{{> widget-recentpost}}
	<!--{{> widget-facebook}}
	{{> widget-twitter}}-->
	{{> widget-tagcloud}}
	</div>
</aside>
