<!-- social icons -->
<ul class="social-links">
	{{#if @site.facebook}}
	<li><a href="{{facebook_url @site.facebook}}"><i class="fa fa-facebook"></i></a></li>
	{{/if}}
	{{#if @site.twitter}}
	<li><a href="{{twitter_url @site.twitter}}"><i class="fa fa-twitter"></i></a></li>
	{{/if}}
</ul>