<!-- start widget -->
<div class="widget">
	<h4 class="h5 title"><span>{{t "Boycott"}}</span></h4>
	<div class="content ad">
    <a href="https://www.gunpowdermagazine.net/signup/boycottantigunestablishments/">
        <img src="{{asset "/images/boycott.jpg"}}" style="width: 100%;">
    </a>
	</div>
</div>
<!-- end widget -->
