<!-- start widget -->
<div class="widget">
	<h4 class="h5 title"><span>{{t "Sponsor"}}</span></h4>
	<div class="content ad">
		<a href="http://brianfalls.com" target="_blank"><img src="{{asset "/images/brianfalls.jpg"}}"></a>
		<div id="rcjsload_ad24e6"></div>
		<script type="text/javascript">
			(function() {
				var referer="";try{if(referer=document.referrer,"undefined"==typeof referer||""==referer)throw"undefined"}catch(exception){referer=document.location.href,(""==referer||"undefined"==typeof referer)&&(referer=document.URL)}referer=referer.substr(0,700);
				var rcds = document.getElementById("rcjsload_ad24e6");
				var rcel = document.createElement("script");
				rcel.id = 'rc_' + Math.floor(Math.random() * 1000);
				rcel.type = 'text/javascript';
				rcel.src = "https://trends.revcontent.com/serve.js.php?w=103861&t="+rcel.id+"&c="+(new Date()).getTime()+"&width="+(window.outerWidth || document.documentElement.clientWidth)+"&referer="+encodeURIComponent(referer);
				rcel.async = true;
				rcds.appendChild(rcel);
			})();
		</script>
		{{!-- Google Ads --}}
		<div>
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<script>
				(adsbygoogle = window.adsbygoogle || []).push({
					google_ad_client: "ca-pub-9891621709746049",
					enable_page_level_ads: true
				});
			</script>
		</div>
	</div>
</div>
<!-- end widget -->
